<div class="row">
  <div class="col s12">
    <form>
      <div class="row">
        <div class="col s5">
          <label for="name">Name</label>
          <input type="text" name="name" [(ngModel)]="instantTaskName">
        </div>
        <div class="col s2">
          <label for="length">Length (minutes)</label>
          <input type="number" name="length" [(ngModel)]="instantTaskLength">
        </div>
        <div class="col s3">
          <button class="btn" (click)="onInstantTaskCreated()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>