<div class="row">
  <div class="col s7 offset-s5" id="buttons-holder">
    <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large yellow darken-2">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li>
          <a class="btn-floating green tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add to daylog">
            <i class="material-icons">add</i>
          </a>
        </li>
        <li>
          <a class="btn-floating blue tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit">
            <i class="material-icons">mode_edit</i>
          </a>
        </li>
        <li>
          <a class="btn-floating red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete">
            <i class="material-icons">delete</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12" id="task-detail-holder">
    <h3>Task name</h3>
    <p>Description</p>
  </div>
</div>